/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-color-secondary: #354c87;
  --ifm-color-secondary-dark: #30447a;
  --ifm-color-secondary-darker: #2d4173;
  --ifm-color-secondary-darkest: #25355f;
  --ifm-color-secondary-light: #3a5495;
  --ifm-color-secondary-lighter: #3d579b;
  --ifm-color-secondary-lightest: #4563b0;
  --ifm-code-font-size: 95%;
  --ifm-intelagent-color-primary: #4d516c;
  --ifm-intelagent-link-color: #f8f8f8;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);

  --ifm-color-primary: #354c87;
  --ifm-color-primary-dark: #30447a;
  --ifm-color-primary-darker: #2d4173;
  --ifm-color-primary-darkest: #25355f;
  --ifm-color-primary-light: #3a5495;
  --ifm-color-primary-lighter: #3d579b;
  --ifm-color-primary-lightest: #4563b0;

  --ifm-color-secondary: #f8f8f8;
  --ifm-color-accent: #4d516c;
  --ifm-footer-link-hover-color: #fff;
}

.footer--dark {
  --ifm-footer-background-color: var(--ifm-intelagent-color-primary);
}

.footer--dark a{
  color: var(--ifm-intelagent-link-color);
}

.footer__copyright{
  color: var(--ifm-intelagent-link-color);
}

a {
  transition: all 0.2s ease 0s;
  color: var(--ifm-color-secondary);
}

body {
  font-family: 'Lato', sans-serif;
}

button {
  --ifm-color-content: #fff;
}

.text-center-margin{
  text-align: center;
  margin-bottom: 20px;
}

/* AppList */

.applist-item {
  list-style: none;
}

.AppList {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;

}

.highlightsContainer {
  width: 100%;
  min-height: 200px;
  background-color: #F8FAFC;
  color: #555555;
  position: relative;
}

.highlightsTitle {
  font-size: 25px;
  font-weight: 800;
  color: #343434;
  text-align: center;
}

.highlightsSubTitle {
  font-size: 16px;
  text-align: center;
}

.highlightsLimiter {
  max-width: 960px;
  margin: 0 auto;
  padding: 100px 25px;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .mainContainer {
    background-position: bottom !important;
  }
}

@media only screen and (max-width: 996px) {
  .menu > button {
    right: 50% !important;
    margin-right: -32px;
  }
}

@media only screen and (max-width: 1024px) {
  .mainContainer {
    padding-top: 90px;
    background-size: 400px;
    background-position: bottom right;
  }

  #main-nav {
    flex-direction: column;
  }

  #main-nav .links {
    padding-top: 25px;
    max-width: 80%;
    flex-wrap: wrap;
  }

  #main-nav .links a {
    margin: 0 10px 10px 10px !important;
  }

  #main-nav .links .sep {
    /* margin: 0 10px !important; */
    display: none;
  }

  #main-header {
    padding-top: 70px;
    padding-bottom: 425px;
  }

  #contact-us #main-header {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  #main-header .container {
    margin: 0 auto;
    text-align: center;
  }

  #main-header h1 {
    width: 100%;
  }

  #main-highlights > .container {
    flex-direction: column;
  }

  #main-highlights .highlight {
    width: 90%;
    margin: 15px;
  }

  #main-footer .container {
    flex-direction: column;
  }

  #main-footer .logo {
    display: none;
    visibility: hidden;
  }

  .live-wrapper {
    height: 600px;
  }
}

@media only screen and (min-width: 1024px) {
  #main-nav {
    padding-top: 20px;
  }

  #main-header {
    padding-top: 175px;
    padding-bottom: 125px;
  }

  #main-header h1 {
    max-width: 450px;
  }

  #main-header .container {
    margin-left: 0;
    margin-right: 0;
  }

  .mainContainer {
    background-size: 590px;
    background-position: right bottom;
  }

  #main-highlights .highlight {
    width: 30%;
  }

  .live-wrapper {
    height: 300px;
  }
}

.footer .text--center {
  text-align: left;
}

.footer .text--center div:not(.margin-bottom--sm) {
  color: var(--ifm-intelagent-link-color);
}

.footer .footer__link-item:hover {
  text-decoration: none;
}

.live {
  width: 100%;
  padding: 25px 0;
  background-color: #000;
}

.live-title {
  max-width: 960px;
  margin: 0 auto;
  font-size: 40px;
  letter-spacing: 1.2px;
  color: #fff;
  font-weight: 600;
}

.live-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.live-wrapper > iframe {
  width: 100%;
  height: 100%;
}

.contact-wrapper > iframe {
  min-width: 310px;
  height: 75px;
}

.projectTitle > small {
  color: #999;
}

.nav-site a {
  background: transparent !important;
  font-size: 14px !important;
  font-weight: 800 !important;
  color: #000 !important;
}

.nav-site li:not(:last-child) a::after {
  content: '';
  margin: 0 0 0 20px;
  width: 3px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.28);
}

.fixedHeaderContainer {
  padding: 15px 0;
  background-color: #fff;
  border-bottom: 1px solid #f4f4f4;
}

body:not(.separateOnPageNav) .fixedHeaderContainer {
  display: none;
  visibility: hidden;
}

body.separateOnPageNav .headerTitleWithLogo {
  display: none;
  visibility: hidden;
}

body.separateOnPageNav .mainContainer {
  padding-top: 50px;
}

body:not(.separateOnPageNav) .mainContainer {
  padding-bottom: 0;
  align-items: center;
  background-image: url(/img/hero_shadow.png);
  background-repeat: no-repeat;
  min-height: 100vh;
}

body:not(.separateOnPageNav) .mainContainer.enterprise {
  background-image: url(/img/ui/enterprise-cover.svg);
}

#main-nav {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-nav .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#main-nav .links a {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
}

#main-nav .links a:hover {
  color: var(--ifm-color-primary);
  text-decoration: none;
}

#main-nav .social-links {
  margin-left: 30px;
}

#main-nav .social-links > a {
  margin-left: 20px;
}

#main-nav .links .sep {
  margin: 0 20px;
  width: 3px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.28);
}

#main-header {
  margin: 0 auto;
  max-width: 960px;
}

#main-header .container {
  max-width: 540px;
}

#main-header h1 {
  margin-top: 0;
  font-size: 44px;
  font-weight: 300;
  line-height: 1.14;
  letter-spacing: 1.2px;
  color: #000;
}

#main-header h1 span {
  font-weight: 800;
}

#main-header h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.5px;
  color: #4a4a4a;
}

#main-header a {
  display: inline-block;
  padding: 15px 20px;
  margin-top: 20px;
  border-radius: 35px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-button {
  background-color: var(--ifm-color-primary);
  border: 2px solid var(--ifm-color-primary);
  color: #fff;
  margin-right: 10px;
}

.main-button:hover {
  background-color: transparent;
  border-color: var(--ifm-color-primary);
  color: var(--ifm-color-primary);
}

#main-highlights {
  border-top: 1px solid #f4f4f4;
  box-shadow: 0 25px 68px 0 rgba(0, 0, 0, 0.02);
}

#main-highlights > .container {
  margin: 0 auto;
  padding: 45px 0;
  max-width: 960px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-highlights .highlight {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid #f4f4f4;
  border-radius: 20px;
  box-shadow: 0 25px 68px 0 rgba(0, 0, 0, 0.02);
}

#main-highlights .highlight .title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-align: center;
  color: #000;
}

#main-highlights .highlight .description {
  padding: 15px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.5px;
  text-align: center;
  color: #4a4a4a;
}

#main-footer {
  border-top: 1px solid #f4f4f4;
}

#main-footer .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-footer .logo img {
  height: 27px;
}

#main-footer .copyrights {
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.3px;
  text-align: right;
  color: #4a4a4a;
}

#main-footer .links {
  display: flex;
}

#main-footer .links a {
  display: inline-block;
  margin: 0 5px;
}

#main-footer .links a > img {
  height: 26px;
}

/* code-block-buttons */
pre {
  position: relative;
}

pre .btnIcon {
  position: absolute;
  top: 4px;
  z-index: 2;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0;
  color: #fff;
  background-color: transparent;
  height: 30px;
  transition: all 0.25s ease-out;
}

pre .btnIcon:hover {
  text-decoration: none;
}

.btnIcon__body {
  align-items: center;
  display: flex;
}

.btnIcon svg {
  fill: currentColor;
  margin-right: 0.4em;
}

.btnIcon__label {
  font-size: 11px;
}

.btnClipboard {
  right: 10px;
}


